<header>
  <style>
    .buttonHead {
      background: none;
      border-radius: 8px;
      border-width: 2px;
      border-color: #333333;
      color: #333333;
      float: right;
      padding: 8px 20px;
      font-size: 16px;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;
      position: absolute;
      right: 20px;
    }
    .right {
      position: absolute;
      right: 150px;
      top: 15px;
    }

  </style>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <form class = "form-inline" action="/login" method="POST" style="text-align: justify;"> 
          <% if (username) { %> 
            <p class="right">Logged in as:  <%= username %></p>
            <button class="buttonHead" style="align-self: right;">
              Logout
            </button> 
            <% } else { %> 
          <input class = "form-control" type="text" name="username" placeholder="Username" style="margin-left: 800px">
          <button type="submit" class="buttonHead">
            <b>Login</b>
          </button>
          <%  }%> 
        </form>
      </div>
    </div>
  </nav>
</header>