<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->  
  <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title> Registration </title>
</head>
<body>
  <%- include('partials/_header') %>
  <form style="margin: 20px;" method="POST" action="/register">
    <div class="from-group">
      <h2> Create Account </h2>
      <p> Fill in the following form to create an account</p>
      <hr>

      <label for="email"><b>Email</b></label>
      <input class="form-control" type="email" name="email" placeholder="Enter email:">

      <label for="password"><b>Password</b></label>
      <input class="form-control" type="password" name="password" placeholder="Enter password:">
      <hr>
      <button type="submit" class="btn btn-primary">
        Register
      </button>
    </div>
  </form>

</body>
</html>